* {
  box-sizing: border-box; /* Tüm elemanlar için geçerli kıl */
}
body{
    background: url("istockphoto-636845328-612x612.jpg");
}
body {
  background-color: yellow;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Body'nin yüksekliğini ayarla */
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(154, 12, 43);
  padding-top: 15px;
  margin: 5px;
}
button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #eac82f;
  color: #222222;
}
button:hover {
  border-color: #000000;
  background: #f7f7f7;
}

.title-container {
  padding: 15p 30px;
}

.title {
  grid-column: 1 / -1; /* Başlık tüm sütunları kaplar */
  background-color:rgb(154, 12, 43);
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: 10px 0; /* Sadece metin kadar yüksekliği belirler */
}
#content {
  display: flex; /* Flex düzeni */
  flex-direction: column; /* Dikey olarak hizala */
  padding: 25px 10px;
  background-color: #eac82f;
  width: 50%;
  margin: 0 auto;
  flex-grow: 1; /* İçeriğin esnek olarak büyümesini sağla */
  gap: 40px;
  border-radius: 40px;
  padding: 50px;
}

.item {
  padding: 22px;
  color: white;
  text-align: center;
  margin: 0 100px;
  background-color: rgb(154, 12, 43);
  clip-path: polygon(
    0 21%,
    11% 0,
    89% 0,
    100% 21%,
    100% 79%,
    89% 100%,
    11% 100%,
    0 79%
  );
}

.card {
  width: 100%;
  background-color: #eac82f;
  clip-path: polygon(
    0 21%,
    11% 0,
    89% 0,
    100% 21%,
    100% 79%,
    89% 100%,
    11% 100%,
    0 79%
  );
  padding: 10px;
}
footer {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  font-size: 0.5em;

  color: white;
  text-align: center;
  padding: 15px;
}
